
<%= render 'layouts/shared/header' %>

<section class="py-5">
<% if user_signed_in? %>
  <h1>Bem vindo a noisso blog</h1>
<% else %>
  <div class='py-5 mt-3'>
    <div class="mt-5" data-aos="fade-right" data-aos-duration="1500">
      <div class="container text-center text-dark">
        <h1 >Seu novo Blog!</h1>
        <h4>
          Novo por aqui? não conhece nosso blog? 
          Seu novo destino para inspiração e conhecimento! 
          Seja bem-vindo(a) ao nosso blog! Aqui, você encontrará histórias envolventes, dicas úteis e um conteúdo inspirador. Junte-se à nossa comunidade de amantes das palavras.
          Explore, conecte-se e deixe-se inspirar! Ainda não tem uma conta?</h4>
        <div class='mt-5' data-aos='fade-up' data-aos-duration='1800'>
          <h3>Não tem conta ainda?</h3>
          <%= link_to 'Registrar-se', new_user_registration_path, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</section>
