<div class="container mt-5">
  <div class="col-md-4 mx-auto col-lg-10">
    <div class="row align-items-cennter">
      <% if user_signed_in?%>
        <div class="col-md-6 p-md-4 offset-md-3 border rounded-5 bg-info">
          <h4><%= t('views.models.what_do_you_want_to_change') %></h4>
          <%= form_with model: @tag do |form|  %>
            <div class="input-group mb-3">
              <%= form.text_area :tag_text, class: "form-control ", aria_describedby: "button-addon1", style: 'height: 100px;' %>
            </div>
            <%= form.submit t('views.screen.create_tag'),class: "btn btn-outline-dark mb-2", id: "button-addon1" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>